
@model Assessment1.Models.Customer 

<h1>Details of the Customer whose Order ID: 10248</h1>
<table class="table">
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
    </tr>
    <tr>
        <td>@Model.CustomerID</td>
        <td>@Model.CompanyName</td>
        <td>@Model.ContactName</td>
        <td>@Model.ContactTitle</td>
    </tr>
</table>